@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
<ul>
	<li>Genre: @Model.Genres.Name</li>
	<li>DateAdded: @Model.DateAdded.ToLongDateString()</li>
	<li>DateReleased: @Model.DateReleased.ToLongDateString()</li>
	<li>NumberInStock: @Model.NumberInStock</li>
</ul>


